﻿@model MvcTutorial.Models.UserLoginModelClass

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3></h3>
<div class="panel panel-success">
    <div class="panel-heading"><h3 style="text-align:center"><b>Login</b></h3></div>
</div>
<div>
    <div class="row" >
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 style="text-align:center"><b>Login</b></h4></div>
                <div class="panel-body  col-sm-offset-3">
                    @using (Html.BeginForm())
                {
                    //Here I have Use Defult CSS Class('form-control') for Textbox Which is located in Content => bootstrap.css
                    <p>
                      
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control",@placeholder="Enter Your Mobile No" } })
                        <font color="red"> @Html.ValidationMessageFor(model => model.MobileNo)</font>
                    </p>
                    <p>
                        
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Your Password" } })
                        <font color="red">  @Html.ValidationMessageFor(model => model.Password)</font>
                    </p>
                    <button class="btn">Login</button> <space> @Html.ActionLink("Forgot Password", "ForgotPassword", "User")</space><br />
                    // here i m adding Font Color Red To Display Error Message
                    <font color=green>  @ViewBag.SuccessMessage</font>
                    <font color=red>@ViewBag.Message</font>
                }
                </div>
            </div>
        </div>

    </div>
</div >